Tilt-CompensatedCompass/Temp/UnityLockfile
Tilt-CompensatedCompass/Build/
Tilt-CompensatedCompass/Library/
Tilt-CompensatedCompass/Temp/
Tilt-CompensatedCompass/UnityPackageManager/manifest.json
Tilt-CompensatedCompass/ProjectSettings/ProjectVersion.txt
